/* client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', 'Montserrat', 'Open Sans', sans-serif;
  @apply font-sans bg-neutral-100;
}
